fastapi==0.115.0
uvicorn[standard]==0.30.0
motor==3.5.0
pymongo==4.8.0
pandas==2.2.3
numpy==1.26.4
scikit-learn==1.5.2
faker==28.0.0
reportlab==4.2.0
python-multipart==0.0.9
pydantic==2.5.3
pydantic-settings==2.1.0
pydantic-core==2.14.6
python-dateutil==2.9.0
dnspython>=2.3.0
